.navbar {
    margin: 0;
    border-width: 0;
    border-radius: 0;
    background: #ffffff;
    padding: 10px 24px;
    width: 100%;
    position: relative;
    box-shadow: rgba(58,78,95,0.2) 0 1px 16px, rgba(58,78,95,0.05) 0 -2px 16px;
    max-height: 48px;
}

/*.navbar.h-navbar {*/
    /*-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);*/
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);*/
/*}*/

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-header {
    line-height: 28px;
}

.navbar-header a {
    text-transform: uppercase;
    color: #313131;
    font-size: 14px;
}

.ace-nav {
    height: 100%;
    margin: 0!important;
    position: relative;
    left: 15px;
}

.ace-nav>li {
    padding: 0 5px;
    position: relative;
    float: left;
}

.ace-nav>li:first-child {
    border-left-width: 0;
}

.ace-nav>li>a {
    color: #9c9999;
    display: block;
    line-height: inherit;
    text-align: center;
    height: 100%;
    width: auto;
    padding: 0 10px;
    position: relative;
}

.ace-nav>li>a:hover,
.ace-nav>li>a:focus,
.ace-nav>li>a:active{
    background: transparent;
}

.ace-nav>li>a>.ace-icon {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #9c9999;
    font-weight: 100;
    line-height: 30px;
}

.ace-nav .nav-user-photo {
    margin: 0;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.ace-nav .nav-user-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*.ace-nav>li.green>a:focus, .ace-nav>li.green>a:hover, .ace-nav>li.open.green>a {*/
    /*background-color: #2c7659;*/
/*}*/

/*.ace-nav>li.grey>a:focus, .ace-nav>li.grey>a:hover, .ace-nav>li.open.grey>a {*/
    /*background-color: #4b4b4b;*/
/*}*/

/*.ace-nav>li.open.purple>a, .ace-nav>li.purple>a:focus, .ace-nav>li.purple>a:hover {*/
    /*background-color: #762c59;*/
/*}*/

.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 10px;
    font-size: 11px;
}

.dropdown-menu {
    margin: 15px 0 0;
    font-size: 13px;
    border-radius: 0;
}