.sidebar {
    position: fixed;
    top: auto;
    float: none !important;
    z-index: 1027;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px 0 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    min-height: 100%;
    width: 190px;
    padding-left: 0;
    padding-right: 0;
    background-color: #263238;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo-home {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #62a8ea;
    padding: 12px 10px;
    z-index: 1030;
}

.left-logo {
    height: 26px;
}

.pos-rel {
    position: relative;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list > li {
    border-bottom: 1px solid #313c42;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    display: block;
    position: relative;
    float: none;
    padding: 0;
}

.nav-list > li:first-child {
    border-top-width: 0;
}

.nav-list > li > a {
    background-color: #263238;
    color: rgba(163, 175, 183, .9);
    display: block;
    height: 39px;
    line-height: 17px;
    text-shadow: none !important;
    font-size: 13px;
    position: relative;
    padding: 10px 7px;
}

.nav-list > li.open > a {
    color: #fff;
}

.nav-list > li > a:focus,
.nav-list > li:hover > a,
.nav-list > .open > a,
.nav-list > .open > a:focus,
.nav-list > .open > a:hover {
    background-color: #202b30;
    color: rgba(163, 175, 183, .9);
}

.nav-list > li > a > .menu-icon {
    display: inline-block;
    min-width: 22px;
    margin-right: 0;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.nav-list .arrow {
    display: block;
    width: 14px !important;
    height: 14px;
    line-height: 10px;
    text-shadow: none;
    font-size: 14px;
    position: absolute;
    right: 8px;
    top: 12px;
    padding: 0;
    text-align: center;
}

.sidebar-toggle:before {
    content: "";
    display: block;
    height: 0;
    border-top: 1px solid;
    border-color: #313c42;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 26px;
}

.sidebar-toggle .ace-icon {
    color: #aaa;
    background-color: #263238;
    width: 34px;
    height: 34px;
    line-height: 32px;
    -webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
    padding: 0 5px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #313c42;
    border-radius: 50%;
    position: relative;
}

/* Reponsive*/
@media only screen and (min-width: 992px) {
    .sidebar-toggle {
        border-top-color: #ddd;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        background-color: #263238;
        color: rgba(163, 175, 183, .9);
        border: none;
    }
}