<div id="sidebar" class="sidebar-fixed sidebar responsive sidebar-scroll {{appService.minPreview?'menu-min':''}}">
    <div class="btn-toggle-mb" style="">
        <i class="ace-icon miniature-menu fa {{appService.minPreview?'fa-align-justify':'fa-align-justify'}}"
           (click)="minMenu()"></i>
    </div>
    <div class="logo-home">
        <div class="left-logo">
            <a href="{{rootUrl}}/admin/" class="">
                <img class="align-text-bottom" style="height: 26px"
                     src="{{rootUrl}}/admin/img/logo-home.png">
                <span class="text-logo cl-w pl-5 fs-18">
                    <strong>Admin</strong>Web4s</span>
            </a>
        </div>
    </div>
    <div class="nav-wrap-up pos-rel">
        <ul appNotify [notify]="notify" class="nav nav-list group-left list-unstyled components" id="accordion">
            <li *ngFor="let menu of allMenu; let idx = index"
                class="sidebar-left"
                data-id="{{menu.Module.id}}"
                (mouseenter)="onHovering(menu.Module.child)"
                (mouseleave)="onUnovering(menu.Module.child)"
                [ngClass]="(menu.Module.id === select.Module.id) ? 'open': ''"
                (click)="selectItem(menu);">
                <a href="javascript: void(0)"
                   class="dropdown-toggle"
                   data-toggle="collapse"
                   [attr.data-target]="'#' + 'collapse' + idx"
                   aria-expanded="false"
                   [attr.aria-controls]="'collapse' + idx">
                    <i class="{{menu.Module.class_i}}"></i>
                    <span class="menu-text"> {{menu.Module.alias}} </span>
                    <b class="arrow" [ngClass]="{'ion-ios-arrow-down': !arrow || (menu.Module.id !== select.Module.id), 'ion-ios-arrow-right': arrow && (menu.Module.id === select.Module.id)}"></b>
                    <span class="badge badge-important"></span>
                </a>
                <div  [attr.id]="'collapse' + idx" class="collapse"  data-parent="#accordion" [ngClass]="(menu.Module.id === select.Module.id) ? 'in': ''"
                >
                    <app-layouts-sidebar-submenu [menu]="menu.Module.child"
                                                 [show]="(select.Module.id === menu.Module.id)"></app-layouts-sidebar-submenu>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar-toggle sidebar-collapse" style="z-index: 1;">
        <i class="ace-icon miniature-menu fa {{appService.minPreview?'fa-angle-double-right':'fa-angle-double-left'}}"
           (click)="minMenu()"></i>
    </div>
</div>