<b *ngIf="((submenu.length>0)&&(parent!=='0'))" class="arrow fa glyphicon glyphicon-plus"
   (mouseover)="showChildren(true)"></b>
<ul *ngIf="submenu.length" [style.display]="show ? 'block' : 'none'"
    [ngClass]="(show&&parent!=='0')? 'subsubmenu': ''"
    class="submenu">
    <li *ngFor="let smenu of submenu" (mouseleave)="showChildren(parent==='0'||false)">
        <a *ngIf="(smenu.Module.module==='Admin')&&(smenu.Module.ctl==='ngstore'); else next"
           routerLinkActive="active"
           routerLink="{{smenu.Module.slug.replace(root,'')}}"
           href="javascript: void(0)">{{smenu.Module.alias}}</a>
        <ng-template #next>
            <a href="{{smenu.Module.slug}}">{{smenu.Module.alias}}</a>
        </ng-template>
        <span class="badge badge-important">16</span>
        <app-layouts-sidebar-submenu [menu]="smenu" [notify]="notify"
                                     [allmenu]="arrallmenu"></app-layouts-sidebar-submenu>
    </li>
</ul>