.submenu {
    display: none;
    background-color: #202b30;
    color: rgba(163, 175, 183, .9);
    border-left: 2px solid #202b30;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    position: relative;
}

.submenu > li {
    list-style: none;
    margin-left: 0;
    position: relative;
    cursor: pointer;
}

.submenu > li > a {
    background-color: #202b30;
    color: rgba(163, 175, 183, .9);
    border-left: 2px solid #202b30;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    display: block;
    position: relative;
    padding: 8px 0 8px 25px;
    margin: 0;
    font-size: 12.5px;
}

.submenu > li > a.active, .submenu > li > a:hover {
    background-color: #1b2327;
    color: #ffffff !important;
    border-left: 2px solid #62a8ea;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}