.modal-lg {
    width: 90%;
}

.thumb_image {
    width: 3%;
    max-width: 150px;
    min-width: 60px;
}

.pattern_thumb i {
    font-size: 25px;
    vertical-align: middle;
}

.btn-primary {
    background: #428bca;
    border-color: #428bca;
    border-radius: 0;
}
.btn-primary:hover {
    background: #1b6aaa;
    transition: all 0.4s;
}