<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-public-breadcrumb></app-public-breadcrumb>
            <div class="panel panel-default page-header">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#main">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                Thông tin đơn hàng
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#history">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                Lịch sử cập nhật trạng thái
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="main" class="tab-pane fade in active">
                            <div *ngIf="lazorder" class="row">
                                <div class="col-md-4">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td colspan="2"><b> <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                Thông tin đơn hàng </b></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-qrcode" aria-hidden="true"></i> Mã đơn hàng</td>
                                            <td>{{lazorder.arr_data.Order.code}}</td>
                                        </tr>
                                        <tr>
                                            <td>Trạng thái</td>
                                            <td>{{lazorder.arr_data.Order.status_cf}}</td>
                                        </tr>
                                        <tr>
                                            <td>Loại đơn hàng</td>
                                            <td>{{lazorder.arr_data.Order.order_flg}}</td>
                                        </tr>
                                        <tr>
                                            <td>Nguồn đơn hàng</td>
                                            <td>{{lazorder.arr_data.Order.order_line}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cửa hàng</td>
                                            <td>{{lazorder.arr_data.Order.shop_id}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-calendar" aria-hidden="true"></i> Ngày tạo</td>
                                            <td>{{lazorder.arr_data.Order.created}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td colspan="2"><b> <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                Thanh toán và chiết khấu </b></td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tiền</td>
                                            <td>{{lazorder.arr_data.Order.total}}</td>
                                        </tr>
                                        <tr>
                                            <td>Chiết khấu</td>
                                            <td>{{lazorder.arr_data.Order.total_discount}}</td>
                                        </tr>
                                        <tr>
                                            <td>Coupon</td>
                                            <td>{{lazorder.arr_data.Order.total_coupon}}</td>
                                        </tr>
                                        <tr>
                                            <td>VAT</td>
                                            <td>{{lazorder.arr_data.Order.total_vat}}</td>
                                        </tr>
                                        <tr>
                                            <td>Tiền mặt</td>
                                            <td>{{lazorder.arr_data.Order.total_cash}}</td>
                                        </tr>
                                        <tr>
                                            <td>Chuyển khoản</td>
                                            <td>{{lazorder.arr_data.Order.total_atm}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td colspan="2"><b> <i class="fa fa-user" aria-hidden="true"></i> Thông tin
                                                khách hàng </b></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-user" aria-hidden="true"></i> Họ và tên</td>
                                            <td>{{lazorder.arr_data.OrderContact.full_name}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-phone" aria-hidden="true"></i> Số điện thoại</td>
                                            <td>{{lazorder.arr_data.OrderContact.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ</td>
                                            <td>{{lazorder.arr_data.OrderContact.address}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</td>
                                            <td>{{lazorder.arr_data.OrderContact.email}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table *ngIf="lazorder" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th><i class="fa fa-qrcode" aria-hidden="true"></i> Mã SP</th>
                                            <th>Sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th>Chiết khấu</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <ng-container *ngFor="let order of lazorder.arr_order_details; let i = index">
                                            <tr>
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{order.ProductItem.code}}</td>
                                                <td>{{order.ProductContent.name}}</td>
                                                <td>{{order.OrderDetail.quantity}}</td>
                                                <td>{{order.OrderDetail.price}}</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="history" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <table *ngIf="lazorder" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Người cập nhật</th>
                                            <th class="text-center">Trạng thái</th>
                                            <th class="text-center">Thời gian</th>
                                            <th class="text-center">Ghi chú</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <ng-container *ngFor="let item of lazorder.arr_histories">
                                            <tr>
                                                <td>{{item.User.full_name}}</td>
                                                <td>{{item.OrderHistory.status}}</td>
                                                <td>{{item.OrderHistory.updated}}</td>
                                                <td>{{item.OrderHistory.description}}</td>
                                            </tr>
                                        </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-default" (click)="back()">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
</div>