<div class="container-fluid channel-content">
    <div class="row">
        <div class="col-sm-12">
            <app-public-breadcrumb [Breadcrumbs]="lazproductdetailArray"></app-public-breadcrumb>
            <div class="panel panel-default page-header">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#main">Thông tin chính</a></li>
                        <li><a data-toggle="tab" href="#item">Các phiên bản</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="main" class="tab-pane fade in active">
                            <form *ngIf="lazproduct" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Tên sản phẩm:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.ProductContent.name}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Đường dẫn:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Menu.url}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Trạng thái:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Product.status}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Danh mục:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Product.categories}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Loại sản phẩm:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Product.type_product}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Thương hiệu:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Product.manufac_id}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Xuất xứ:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Product.countryId}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Loại bảo hành:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Product.warranty_type}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Thời gian bảo hành:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.Product.warranty}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Thông tin nổi bật:</label>
                                    <div class="col-sm-10">
                                        <div [innerHTML]="lazproduct.arr_data.ProductContent.description"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Mô tả sản phẩm:</label>
                                    <div class="col-sm-10">
                                        <div [innerHTML]="lazproduct.arr_data.ProductContent.content"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Tags:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{lazproduct.arr_data.ProductContent.tag}}</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="item" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                    <table *ngIf="lazproduct" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th><i class="fa fa-qrcode" aria-hidden="true"></i> Mã SP</th>
                                            <th>Barcode</th>
                                            <th>Giá bán</th>
                                            <th>Giá khuyến mãi</th>
                                            <th>Thông tin khác</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <ng-container *ngFor="let item of lazproduct.arr_item_full; let i = index">
                                            <tr>
                                                <td class="text-center">{{i+1}}</td>
                                                <td>
                                                    <a href="{{rootUrl}}/{{item.media[0].original}}" target="_blank" *ngIf="item.media[0] && item.media[0].original">
                                                        <img class="thumb_image" src="{{rootUrl}}/{{item.media[0].original}}" alt="">
                                                    </a>
                                                    <!--<span class="pattern_thumb" *ngIf="!item.media[0] || !item.media[0].original"><i class="fa fa-image"></i></span>-->
                                                    {{item.code}}
                                                </td>
                                                <td>{{item.barcode}}</td>
                                                <td>{{item.price}}</td>
                                                <td>{{item.special_price}}</td>
                                                <td>
                                                    <p>Chiều cao: {{item.height}}</p>
                                                    <p>Chiều rộng: {{item.width}}</p>
                                                    <p>Chiều dài: {{item.length}}</p>
                                                    <p>Khối lượng: {{item.weight}}</p>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-default" (click)="back()">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
</div>