.main-container {
    height: 100%;
}

.modal-sm {
    width: max-content;
    min-width: 60px;
}

.modal-dialog {
    margin: 10% auto;
}

.alert {
    margin-bottom: 0;
    border-top: none;
}

.to-top-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition-duration: .3s;
}

.to-top-button button {
    border: none;
    background-color: #555;
    opacity: 0.8;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 20px;
}