.main-container {
    height: 100%;
}

.modal-sm {
    width: max-content;
    min-width: 60px;
}

.modal-dialog {
    margin: 10% auto;
}

.alert {
    margin-bottom: 0;
    border-top: none;
}

.to-top-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: all 0.7s;
    display: none;
}

.to-top-button button {
    border: none;
    background-color: #555;
    opacity: 0.8;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.to-top-button button:hover {
    background-color: #303030!important;
    border-color: #555;
    opacity:1;
    transition: all 0.5s;
}

.scroll-up-btn {
    display: block !important;
    transition: all 0.7s;

}
.scroll-up-btn button {
    opacity: 0.6;
}
