<div class="breadcrumbs" id="breadcrumbs">
    <div class="row">
        <div class="col-md-6">
            <p class="title-breadcrumbs">{{Breadcrumbs[1].label}}</p>
        </div>
        <div class="col-md-6">
            <ul class="breadcrumb">
                <li><a routerLink="">Trang chủ</a></li>
                <li *ngFor="let breadcrumb of Breadcrumbs | slice:1:3">
                    <a *ngIf="breadcrumb && breadcrumb.lazurl" routerLink="{{breadcrumb.lazurl}}">{{breadcrumb.label}}</a>
                    <span *ngIf="!breadcrumb || !breadcrumb.lazurl">{{breadcrumb.label}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>