html, body {
    height: 100%;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #393939;
}

a {
    text-decoration: none !important;
}

b, strong {
    font-weight: 700;
}

.cl-w {
    color: #fff;
}

.pl-5 {
    padding-left: 5px;
}

.align-text-bottom {
    vertical-align: text-bottom;
}

.main-content {
    margin-left: 190px;
    padding: 0;
    position: relative;
    /*background: #f0f4f5;*/
}

.min-main-content {
    margin-left: 43px;
}

.breadcrumbs {
    position: relative;
    z-index: auto;
    min-height: 36px;
    line-height: 30px;
    padding: 0 12px 0 0;
    margin-right: -15px;
}

.breadcrumb {
    background-color: transparent;
    line-height: 20px;
    margin: 12px 0 0 0;
    padding: 0;
    font-size: 11px;
    color: #333;
    border-radius: 0;
    list-style: none;
    float: right;
}

.breadcrumb, .breadcrumb > li > a, .btn {
    display: inline-block;
}

.breadcrumb > li, .breadcrumb > li.active {
    color: #000;
    padding: 0 3px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb .home-icon {
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
    color: #000;
    line-height: 20px;
}

.breadcrumb, .breadcrumb > li > a, .btn {
    display: inline-block;
}

.page-header {
    margin: 0 0 20px;
    padding: 0;
    /*background: #CCD5DB;*/
    /*border: none;*/
    box-shadow: none;
}

.panel {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}

.tooltip-inner {
    max-width: none;
}

.pagination {
    margin: 0;
    padding-bottom: 10px;
}

.pagination li {

}

.pagination li a {
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    transition: all 0.4s;
    margin-left: 5px;
    text-align: center;
    background: #f9f9f9;
    border-color: #d9d9d9;
    color:#000;
    font-size: 14px;
    line-height: 18px;
}

.pagination li a:hover,
.pagination .active a,
.pagination li a:focus {
    background-color: #abbbc4 !important;
    border-color: #abbbc4 !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: max-content;
}

.modal-90 {
    width: 90%;
    margin: auto;
}

.table > thead > tr > th, .table > tbody > tr > td {
    vertical-align: middle;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 0;
}

.table-hover > tbody > tr:hover {
    background-color: #ffc;
}

.table>thead>tr {
    color: #707070;
    font-weight: 400;
    background: repeat-x #F2F2F2;
    background-image: -webkit-linear-gradient(top, #f8f8f8 0, #ececec 100%);
    background-image: -o-linear-gradient(top, #f8f8f8 0, #ececec 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0, #ececec 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
    font-size: 12px;
}

.dataload {
    position: relative;
}

.data-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 999;
    margin: auto;
    display: inline-flex;
    background-color: rgba(229, 229, 229, 0.85);
}

.data-loading span {
    margin: auto;
    display: block;
    background-color: #fff;
    height: max-content;
    width: max-content;
    min-width: 90px;
    min-height: 50px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 4px;
    line-height: 50px;
}

.data-info {
    cursor: pointer;
}

.badge {
    position: absolute;
    right: 10px;
    opacity: .88;
    font-weight: 100;
    font-size: 7px !important;
    height: 15px;
    width: 15px;
    border-radius: 50% !important;
    line-height: 16px;
    text-align: center;
    top: 6px;
    padding: 0;
    background-color: #e74c3c;
}

.dropdown-toggle .badge {
    right: 26px;
    top: 10px;
}

.menu-min .submenu {
    display: none !important;
}

.menu-min .badge {
    display: none;
}

/* Reponsive*/
@media only screen and (min-width: 992px) {

}